.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .icon {
        color: #BABABA;
        width: 24px;
        height: 24px;
        object-fit: cover;
        
    }

    .text {
        color: #BABABA;
        font-size: 12px;
        text-transform: uppercase;
    }
}