.item {
    height: 56px;
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    background-color: #FFFFFF;
    align-items: center;

    .image {
        padding: 6px;
        > img {
            width: 36px;
            // height: 36px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .action {
        width: 36px;
        height: 36px;
        padding: 8px;
       
        > .icon {
            width: 100%;
            height: 100%;
            // display: none;
            object-fit: contain;
            cursor: pointer;        
        }
    }

    // &:hover > .action > .icon {
    //     display: block;
    // }

    .name {
        font-size: 24px;
    }
}