.chat-section {
    background-color: #f1f5f5;
    .title {
        height: 48px;
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        align-items: center;

        .caret {
            width: 40px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
        }

        .section-name {
            padding: auto;
            text-transform: uppercase;
        }

        
    }
}